h1{
	border-style: double groove double groove;
	border-width:15px
	border-color: #273746
	float: left
	clear: both
}

p {
	font-family: "Helvetica", monospace;
	font-style: oblique;
	font-size: 24px;
	color: #1B2631;
	background-color: #EBDEF0;
}
